.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container , .profile-container{
  background-color: #f5f5f5;
  /* margin: 15%; */
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 10%;
  border-radius: 3%;
  text-align: left;

}

.user-card-image {
  /* max-width: 132px; */
  /* max-height: 132px; */
  object-fit: cover;
}

.user-card-item{
  width: 20vw;
  
}
.heading{
  text-align: left;
}
.card-container{
  display: flex;
  gap: 40px;  
  flex-wrap: wrap;
}